@import "https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Roboto Condensed", sans-serif; }

ul {
  margin-bottom: 0; }

.font-50, .titulo-nosotros, .tituloSeccion-explorar, .titulo-noticias, .titulo-contacto, .titulo-ubicacion {
  font-size: 50px; }

.font-35, .banner-explorar, .subtituloSeccion-explorar, .subtitulo-noticia {
  font-size: 35px; }

.padding-20, .logo, .nav-item, .button-list, .articulo, .social-list, .seccion-nosotros, .descripcion-nosotros, .seccion-explorar, .integrante, .noticias, .seccion-contacto, .ubicacion, .ubicacion-datos {
  padding: 20px; }

.container-fluid {
  padding: 0; }

.logo {
  background-color: #ffeae5;
  font-size: 25px; }

.logo-img {
  width: 90px; }

.nav-container {
  background-color: #afbb71; }

.nav-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  text-align: center; }
  @media (max-width: 959px) {
    .nav-list {
      justify-content: none;
      flex-direction: column;
      display: none; } }

.nav-item {
  list-style: none;
  text-transform: uppercase; }
  .nav-item a {
    color: #ffffff;
    font-size: 30px;
    text-decoration: none; }
  .nav-item:hover {
    background-color: #ffdab9;
    transition: 0.5s; }
  @media (max-width: 959px) {
    .nav-item a {
      font-size: 15px;
      width: 100%;
      display: inline-block; } }

.nav-icono {
  display: none; }
  @media (max-width: 959px) {
    .nav-icono {
      display: block;
      text-align: right;
      cursor: pointer; } }

.nav-icono img {
  width: 40px; }
  @media (max-width: 959px) {
    .nav-icono img {
      display: inline-block;
      padding: 5px;
      padding-top: 5px; } }

.banner {
  padding: 120px;
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  @media (max-width: 959px) {
    .banner {
      padding: 20px; } }

.titulo-banner {
  text-align: center;
  font-size: 45px;
  color: #ffffff; }
  @media (max-width: 959px) {
    .titulo-banner {
      font-size: 20px; } }

.button-banner {
  padding: 25px; }

.button-list {
  list-style-type: none; }

.button-item {
  text-decoration: none; }
  .button-item a {
    background-color: #afbb71;
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    padding: 15px;
    border: 2px solid #ffeae5;
    border-radius: 4px;
    opacity: 0.8;
    display: inline-block; }
    .button-item a:hover {
      opacity: 1;
      background-color: #ffefd5;
      color: #000000;
      transform: scale(1.3);
      transition: all 0.3s; }
  @media (max-width: 959px) {
    .button-item {
      margin-bottom: 0px; }
      .button-item a {
        padding: 10px 20px;
        font-size: 15px;
        width: 100%;
        display: inline-block;
        margin-bottom: 20px; } }

.seccion-1 {
  background-color: #f9f9f9;
  padding: 50px 20px; }

.titulo-seccion {
  padding: 0px 20px 30px 20px;
  font-size: 40px;
  text-align: center;
  color: #afbb71; }
  @media (max-width: 959px) {
    .titulo-seccion {
      font-size: 25px; } }

.articulo {
  border: 2px solid #cfcfcf; }
  .articulo:hover {
    transform: scale(1.1);
    background-color: #ffffff;
    border-color: #ffeae5;
    transition: all 1s;
    transition: border-color 1s; }
  .articulo img {
    width: 100%; }

.descripcion {
  padding: 10px; }
  .descripcion p {
    font-size: 25px;
    color: #afbb71; }
  @media (max-width: 959px) {
    .descripcion p {
      font-size: 15px; } }

.footer {
  background-color: #ffeae5;
  padding: 40px;
  text-align: center; }

.titulo-footer {
  font-size: 14px; }

.social-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  text-align: center;
  max-width: 300px; }

.social-item {
  text-decoration: none; }
  .social-item a img:hover {
    transform: scale(1.3);
    transition: all 0.5s; }

.copyright {
  font-size: 12px; }

.seccion-nosotros {
  background-color: #f2e6ff;
  color: #4d4d33; }

.titulo-nosotros {
  text-align: center; }
  @media (max-width: 959px) {
    .titulo-nosotros {
      font-size: 25px; } }

.descripcion-nosotros {
  border: 2px solid #afbb71; }
  .descripcion-nosotros p {
    font-size: 18px; }
  @media (max-width: 959px) {
    .descripcion-nosotros {
      margin-top: 0px; }
      .descripcion-nosotros p {
        font-size: 14px; } }

.banner-explorar {
  padding: 200px;
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.3)), url("../img/banner-explorar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center; }
  .banner-explorar p {
    color: #ffffff; }
  @media (max-width: 959px) {
    .banner-explorar {
      font-size: 25px;
      padding: 150px; } }
  @media (max-width: 576px) {
    .banner-explorar {
      padding: 25px;
      font-size: 15px; } }

.seccion-explorar {
  background-color: #f2e6ff;
  color: #4d4d33; }

.tituloSeccion-explorar {
  text-align: center; }
  @media (max-width: 959px) {
    .tituloSeccion-explorar {
      font-size: 35px; } }

.subtituloSeccion-explorar {
  text-align: center; }
  @media (max-width: 959px) {
    .subtituloSeccion-explorar {
      font-size: 18px; } }

.integrante {
  margin-bottom: 40px;
  border: 2px solid black; }
  .integrante:hover {
    transform: scale(1.1);
    background-color: #ffffff;
    border-color: #ffffff;
    transition: all 1s;
    transition: border-color 1s; }
  .integrante img {
    width: 100%; }

.integrante-descripcion {
  padding: 15px 10px 0px 10px; }
  .integrante-descripcion p {
    font-size: 25px;
    color: #afbb71;
    text-align: center; }

.button-descripcion {
  text-align: center;
  margin: 8px; }

.button1-descripcion {
  padding: 5px 10px;
  background: #ffb3ff;
  color: #4d4d33;
  border: none;
  border-radius: 3px; }
  .button1-descripcion:hover {
    transform: scale(1.2);
    margin-right: 10px;
    transition: all 0.5s; }

.button2-descripcion {
  padding: 5px 10px;
  background: #ffb3ff;
  color: #4d4d33;
  border: none;
  border-radius: 3px; }
  .button2-descripcion:hover {
    transform: scale(1.2);
    margin-left: 10px;
    transition: all 0.5s; }

.noticias {
  background-color: #f2e6ff;
  color: #4d4d33; }

.titulo-noticias {
  text-align: center; }
  @media (max-width: 959px) {
    .titulo-noticias {
      font-size: 35px; } }

.elemento-noticia {
  padding: 10px 20px; }

@media (max-width: 959px) {
  .subtitulo-noticia {
    font-size: 20px; } }

.parrafo-noticia {
  text-align: justify;
  font-size: 23px; }
  @media (max-width: 959px) {
    .parrafo-noticia {
      font-size: 15px; } }

.video-noticia {
  padding: 25px 10px 10px 0px; }

.video-noticia-iframe {
  width: 100%;
  height: 315px; }
  @media (max-width: 959px) {
    .video-noticia-iframe {
      width: 100%; } }

.seccion-contacto {
  background-color: #f2e6ff; }

.titulo-contacto {
  padding-bottom: 20px;
  text-align: center;
  color: #4d4d33; }
  @media (max-width: 959px) {
    .titulo-contacto {
      font-size: 35px; } }

@media (max-width: 959px) {
  .imagen-contacto {
    width: 100%; }
    .imagen-contacto img {
      width: 100%; } }

@media (max-width: 959px) {
  .seccion-contacto form {
    text-align: center; } }

.input-label {
  display: block; }

.input-estilo {
  width: 100%;
  border: 2px solid #e0e0d1; }
  .input-estilo:focus {
    background-color: #ffeae5; }
  @media (max-width: 959px) {
    .input-estilo {
      width: 75%; } }

.formulario-textarea {
  width: 100%;
  height: 200px;
  border: 2px solid #e0e0d1; }
  @media (max-width: 959px) {
    .formulario-textarea {
      width: 75%; } }

.boton-formulario {
  padding: 5px 10px;
  background: #ffb3ff;
  color: #4d4d33;
  border: none;
  border-radius: 3px; }
  .boton-formulario:hover {
    transform: scale(1.2);
    transition: transform 0.5s; }

.ubicacion {
  background-color: #f2e6ff; }

.titulo-ubicacion {
  color: #4d4d33; }
  @media (max-width: 959px) {
    .titulo-ubicacion {
      font-size: 35px; } }

.ubicacion-list {
  list-style-type: none;
  font-size: 25px;
  color: #4d4d33; }
  @media (max-width: 959px) {
    .ubicacion-list {
      font-size: 18px; } }

.mapa {
  width: 100%;
  height: 450px; }
  @media (max-width: 959px) {
    .mapa {
      width: 100%; } }
