$they_blanco: #ffffff;
$they_negro: #000000;

$they_gris: #f2e6ff;
$they_gris_2: #f9f9f9;
$they_gris_3: #cfcfcf;
$they_gris_4: #e0e0d1;
$they_marron_claro: #4d4d33;
$they_rosa: #ffb3ff;
$they_rosa_2: #ffeae5;
$they_verde_aceituna: #afbb71;
$they_verde_aceituna_oscuro: #55552b;
$they_naranja_claro: #ffdab9;
$they_naranja_claro_2: #ffefd5;